body{
    background-color: rgba(218, 220, 222, 1);
    margin: 0;
}

#boardContainer {
    height: 500px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

#board {
    padding: 5px;
    border: solid 5px white;
    background-color: white;
    width: 398px;
    height: 398px;
    overflow: hidden;
}

.square {
    display: inline-block;
    margin: -2px;
    padding: 0;
    width: 50px;
    height: 50px;
}

.bk {
    background-color: rgba(0, 26, 53, 1);
}

.wt {
    background-color: rgba(94, 157, 222, 1);
}
